/*----------------------------
Sintassi css:
    selettore semplice  -> tagHtml { nomeProprieta: valore; }
    classe              -> .nomeClasse { nomeProprieta: valore; }
    id                  -> #nomeId { nomeProprieta: valore;}
    selettore combinato -> selettore-principale selettore-semplice { nomeProprieta: valore; }
Note:
    - , -> concantenazione di selettori semplici
    - classe più specifica di selettore semplice
    - css sono applicati a cascata
    - classi usate più volte nella stessa pagina html
    - id può essere usato solo 1 volta nella stessa pagina html
box model:
    - ogni elemento html è un box (rettangolo)
    - dimensione box = dimensione (width, height) contenuto + padding + bordo + margine
    - padding: imbottitura tra contenuto e bordo
    - larghezza elemento = contenuto + padding + bordo
    - se fisso larghezza e aggiungo padding e bordo 
      -> dimensione totale elemento aumento
      -> per risolvere usare box-sizing: border-box; che applica padding e bordo all'interno dell'elemento    
img responsive -> vedi class img-res    
flexbox: 
    - proprietà per creare strutture a griglia
media-queries 
    - applicare css solo su alcune tipologie di device (smartphone, tablet, etc)  
    - only smartphone: @media (max-width: 768px) {}
    - only tablet: @media (min-width:768px) and (max-width:1023px) {}
    - large screen: @media (min-width: 1300px){}
posizionamenti: 
    - position:absolute, bottom:0, right:0 -> posiziona in basso a destra rispetto a tutta la pagina
    - se nell'elemento che contiene il content c'è position:relative -> content usa come riferimento elemento con position:relative
    - posizionamento fisso -> 
----------------------------*/
*{
    box-sizing: border-box;
}
body, html{
    padding: 0;
    margin: 0;
}
body{ 
    background: #ebebeb;
    font-family: Arial;
}
a{
    color: #9e0039;
    text-decoration: none;
}
h1, h2, h3{
    color: #333;
}
p{
    color: #000;
    font-size: 16px;
}
.container{
    padding: 15px;
    max-width: 1300px;
    margin: 0 auto;
}
.img-res{
    width: 100%;
    height: auto;
}

header{
    background: #fff;
    padding: 25px 15px 5px 15px;
    width: 100%;
}
.logo{
    text-align: center;
    width: 100%;
    display: block;
    font-size: 20px;
}
#menu-principale{
    text-align: center;
}
#menu-principale li{
    display: inline;
}
#menu-principale li a{
    margin: 10px;
}

.cover{
    position: relative;
    border-bottom: 5px solid #9e0039;
}
.cover__content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 100px 20px 20px 20px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.cover__content h1, .cover__content p{
    color: #fff;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}
.col-33 {
    width: 33%;
    padding: 15px;
}

@media (max-width: 768px) { 
    .col-33 {
        width: 100%;
    }

    h1{
        font-size: 30px;
    }
    .cover img{
        height: 300px;
        object-fit: cover;
    }
}

footer{
    background: #333;
    padding: 20px;
}
footer p{
    color: #fff;
}

.wa-link{
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 100px;
    right: 20px;
}